
.borders {
	-fx-border-color: #000000;
	-fx-border-width: 1px;
}

.faded-borders {
	-fx-border-color: #B2B1AE;
	-fx-border-width: 1px;
	-fx-border-radius: 3;
}

.faded {
	-fx-text-fill: #B2B1AE;
}

.display-box-padding {
	-fx-padding: 5;
}