
.borders {
	-fx-border-color: #7f7f7f;
	-fx-border-width: 1px;
}

.bottom-borders {
	-fx-border-color: transparent transparent #7f7f7f transparent;
	-fx-border-width: 1px;
}

.faded-borders {
	-fx-border-color: #B2B1AE;
	-fx-border-width: 1px;
	-fx-border-radius: 3;
}

.faded {
	-fx-text-fill: #B2B1AE;
}

.rounded-borders {
	-fx-border-radius: 5;
}

.display-box-padding {
	-fx-padding: 1;
}

.dragged-over {
	-fx-background-color: #FFFA73;
}

.github-icon {
	-fx-font-family: github-octicons;
	-fx-font-size: 22px;
	-fx-background-color: transparent;
	-fx-padding: 0 5 0 0;
}

.issue-panel-name {
	-fx-font-size: 14px;
}

.issue-panel-closed {
	-fx-strikethrough: true;
}

.issue-creator {
	-fx-font-style: italic;
	-fx-text-fill: grey;
}

.issue-comment-details {
	-fx-font-size: 11px;
	/*-fx-padding: 15 0 0 0;*/
}

.labels {
	-fx-background-radius: 3; -fx-padding: 1 5;
}

/* For buttons that are used as labels (the + and x buttons on columns) */
.label-button {
	-fx-font-size: 13pt;
}

.button-github-octicon{
	-fx-padding: 0;
	-fx-font-family: github-octicons;
}

.button{
	-fx-padding: 2;
}

.toggle-button{
	-fx-padding: 2;
}

.list-cell:empty {
    -fx-opacity: 0;
  -fx-cell-size: 0;
}